#main{
    border: red 1px solid;
    width:95%;
    margin: auto;
    height:400px;
}
#bar{
    border: 1px black solid;
    height: 50px;
    margin:5px;
    display: flex;
    align-items: center;
  }
#bar>div{
    border:1px green solid;
    height:20px;
    padding:5px;
    margin-left:5px;
}
#log{
    border: 1px solid coral;
    margin:5px;
    height:80%;
    display: grid;
    align-items: center;
}
#log>div{
    border: 1px blue solid;
    width:200px;
    margin: auto;
    height:200px;
}
